<div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold">ダッシュボード</h1>
    <div>
      <span class="mr-4">ようこそ、<%= loginId %> さん</span>
      <a href="/logout" class="btn btn-primary bg-red-500 hover:bg-red-700">ログアウト</a>
    </div>
  </div>